---

import '@/styles/globals.css'
import { Button } from "@/components/ui/button"
import Navbar from '@/components/Navbar.astro'
import { getProjects } from '../utils/sanity'; // Import the getProjects function


const projects = await getProjects();

---


<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<Navbar />
		<h1>Astro</h1>
		<Button variant="destructive">Hello World</Button>
		<ul>
			{projects.map((project) => (
			  <li>
				<h2>{project.title}</h2>
				<p>{project.description}</p>
				<img src={project.image.url} alt={project.title} />
				<a href={project.link}>View Project</a>
				<p>Tags: {project.tags.join(', ')}</p>
			  </li>
			))}
		  </ul>
	</body>
</html>
